<form method="post" action="{{ path('admin_products_delete', {'id': product.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="ml-8 btn hover:text-red-600 hover:font-bold">Supprimer</button>
</form>
