{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h1 class="flex justify-center">Ajouter un nouveau Produit</h1>
    <div class="flex justify-center mt-8">
        {{ include('admin/products/_form.html.twig') }}
    </div>

    <a href="{{ path('app_products_index') }}">retour à la liste</a>
{% endblock %}
