@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply h-screen;
}

img {
    width: 60%;
}

h1 {
    @apply text-4xl;
}

.produit {
    display: inline-block; /* S'assure que le lien prend uniquement l'espace nécessaire */
    padding: 0; /* Supprime les espaces internes */
    margin: 0; /* Supprime les marges externes */
    text-decoration: none; /* Supprime les soulignements si nécessaire */
}

.profil, .cart {
    width: 30px;
}